In [ ]:
import psycopg2
import pandas as pd

In [ ]:
# please replace your database name and password

conn = psycopg2.connect(
    host = "localhost",
    dbname = "your_db",
    user = "postgres",
    password = "",
    port = 5432
)
cur = conn.cursor()

In [ ]:
# create products_table
cur.execute("""
    CREATE TABLE IF NOT EXISTS products_wellcome (
        product_name VARCHAR(50),
        brand_name VARCHAR(50),
        category VARCHAR(50),
        packing VARCHAR(50),
        country VARCHAR(50),
        PRIMARY KEY(product_name)
    )
""")

In [ ]:
# drop table if you fail to create it afterwards
# clear data to prevent error
cur.execute("DROP TABLE IF EXISTS fact_wellcome")

# create fact_table
cur.execute("""
    CREATE TABLE IF NOT EXISTS fact_wellcome (
        product_name VARCHAR(50),
        selling_price DOUBLE PRECISION,
        marked_price DOUBLE PRECISION,
        stock_status BOOLEAN,
        discount_1 VARCHAR(100),
        discount_2 VARCHAR(100),
        discount_3 VARCHAR(100),
        scrap_date TIMESTAMP,
        PRIMARY KEY(product_name, scrap_date)
    )
""")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
cur.execute("""
    CREATE TABLE IF NOT EXISTS product_pns (
        product_name VARCHAR(255),
        brand_name VARCHAR(255),
        category VARCHAR(255),
        packing VARCHAR(50),
        country VARCHAR(255),
        primary key(product_name, brand_name, packing)
    )
""")

In [ ]:
cur.execute("""
    CREATE TABLE IF NOT EXISTS fact_pns (
        product_name VARCHAR(255),
        brand_name VARCHAR(255),
        packing VARCHAR(50),
        scrap_date TIMESTAMP,
        quantity DOUBLE PRECISION,
        current_price DOUBLE PRECISION,
        unit_price DOUBLE PRECISION,
        stock_status BOOLEAN,
        rating DOUBLE PRECISION,
        no_of_reviews INT,
        promotion_status BOOLEAN,
        PRIMARY KEY(product_name, packing, brand_name , scrap_date)
    )
""")

In [ ]:
tables = dict()

tables['products_HKTV'] = """
    CREATE TABLE IF NOT EXISTS products_HKTV (
        product_id VARCHAR PRIMARY KEY,
        product_name VARCHAR,
        brand_name VARCHAR,
        packing VARCHAR,
        country VARCHAR,
        category VARCHAR
    )
"""

tables['store_HKTV'] = """
    CREATE TABLE IF NOT EXISTS store_HKTV (
        store_id VARCHAR PRIMARY KEY,
        store_name VARCHAR(255),
        store_rating FLOAT
    )
"""

tables['fact_HKTV'] = """
    CREATE TABLE IF NOT EXISTS fact_HKTV (
        product_id VARCHAR,
        unit_price FLOAT,
        current_price FLOAT,
        promotion_text TEXT,
        rating FLOAT,
        no_of_reviews INT,
        quantity INT,
        scrap_date TIMESTAMP,
        PRIMARY KEY(product_id, scrap_date),
        FOREIGN KEY(product_id) REFERENCES products_HKTV (product_id)
    )
"""

tables['product_store_HKTV'] = """
    CREATE TABLE IF NOT EXISTS product_store_HKTV (
        product_id VARCHAR,
        store_id VARCHAR,
        PRIMARY KEY (product_id, store_id),
        FOREIGN KEY (product_id) REFERENCES products_HKTV (product_id),
        FOREIGN KEY (store_id) REFERENCES store_HKTV (store_id)
    )
"""


try:
    # 遍历循环执行SQL语句
    for table in tables.keys():
        print(f"Creating table {table}")
        cur.execute(tables[table])
    # 提交事务
    conn.commit()
except (Exception, psycopg2.DatabaseError) as error:
    # 如果发生错误，回滚事务
    conn.rollback()
    print(error)

conn.commit()

Creating table products_HKTV
Creating table store_HKTV
Creating table fact_HKTV
Creating table product_store_HKTV

In [ ]:
cur.execute("""
    CREATE TABLE IF NOT EXISTS dates (
        scrap_date TIMESTAMP,
        PRIMARY KEY (scrap_date)
    )
""")
conn.commit()


cur.execute("""
    INSERT INTO dates (scrap_date) VALUES ('2024-06-22');
    INSERT INTO dates (scrap_date) VALUES ('2024-06-23');
    INSERT INTO dates (scrap_date) VALUES ('2024-06-24');
    INSERT INTO dates (scrap_date) VALUES ('2024-06-25')
            """)

In [ ]:
conn.commit()
cur.close()
conn.close()

In [ ]:
# Remember that you need to link the tables inside dBever